@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200..700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 10em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-small {
  width: 90%;
  margin: 0 auto;
}
.container-big {
  width: 80%;
  margin: 0 auto;
}

.hero {
  font-family: oswald;
}
/* .hero_media {
  width: 1000px;
  max-height: calc(1080px + 1vh);
  width: calc(1350px + 1vw);
  height: 40%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translate(5%, 72%);
  overflow: visible;
} */